<div class="nav">

    <h1 class="roku">Roku</h1>
    <ul>
      <li>
        <a href="/kids">Kids</a>
      </li>

      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
</div>

<div class="vidHeader">

  <h1>{{title}}</h1>
  <p>{{stars}}</p>
  <p class="desc">{{desc}}</p>

</div>

<div class="videos">
  <h2>ACTION</h2>
<img id="1" class="getButton" src="images/rendel.jpg" width="300" alt="">

</div>

<div class="videos">
  <h2>COMEDY</h2>


</div>

<div class="videos">
  <h2>HORROR</h2>


</div>

<div class="videos">
  <h2>DRAMA</h2>

</div>

<footer class="nav">
  <h1 class="roku">Roku</h1>
  <ul>
    <li>
      <a href="/kids">Kids</a>
    </li>

    <li>
      <a href="#">Logout</a>
    </li>
  </ul>
</footer>
