body {
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

h4 {
  color: white;
font-size: 1.5em;
padding-left: 100px;
padding-top: 100px;
}

p {
  color: white;
  width: 500px;
line-height: 50px;
font-size: 1.3em;
padding-left: 100px;
}

img {
  padding-left: 100px;
}

a {
  float: right;
  color: white;
  padding: 10px
}
.player {
position: absolute;
top: 0;
opacity: .4;

}
